In [1]:
import sys
import os
path_to_src = os.path.join('../../', 'src')
sys.path.insert(0, path_to_src)
from functions_1 import *

In [2]:
conn = sqlite3.connect('../../data/processed/data.db')
c = conn.cursor()
c.execute('SELECT * FROM LOOKUP')
lookups_df = pd.DataFrame(c.fetchall())
lookups_df.columns = [x[0] for x in c.description]
lookups_df.head()

  LUType LUItem                                      LUDescription
0    1      1    LAND ONLY                                     ...
1    1      10   Land with new building                        ...
2    1      11   Household, single family units                ...
3    1      12   Multiple family residence (Residential, 2-4 un...
4    1      13   Multiple family residence (Residential, 5+ uni...

In [3]:
lookups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208 entries, 0 to 1207
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LUType         1208 non-null   object
 1   LUItem         1208 non-null   object
 2   LUDescription  1208 non-null   object
dtypes: object(3)
memory usage: 28.4+ KB

In [4]:
lookups_df['LUType'] = col_stripper(lookups_df, 'LUType')
lookups_df['LUItem'] = col_stripper(lookups_df, 'LUItem')
lookups_df['LUDescription'] = col_stripper(lookups_df, 'LUDescription')
lookups_df.head()

  LUType LUItem                                      LUDescription
0      1      1                                          LAND ONLY
1      1     10                             Land with new building
2      1     11                     Household, single family units
3      1     12  Multiple family residence (Residential, 2-4 un...
4      1     13  Multiple family residence (Residential, 5+ units)

In [5]:
lookups(lookups_df, 108)

    LUType LUItem LUDescription
243    108      1    Floor-Wall
244    108      2       Gravity
245    108      3       Radiant
246    108      4       Elec BB
247    108      5    Forced Air
248    108      6     Hot Water
249    108      7     Heat Pump
250    108      8         Other

In [6]:
c.execute("""SELECT*FROM SALES AS SA
       JOIN PARC AS PA
       ON SA.Major = PA.Major
       AND SA.Minor = PA.Minor
       JOIN RESB AS RE
       ON PA.Major = RE.Major
       AND PA.Minor = RE.Minor
       """)
sales_resb_df = pd.DataFrame(c.fetchall(), dtype=str)
sales_resb_df.columns = [x[0] for x in c.description]
sales_resb_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,2743355,638580,0110,07/14/2015,190000,20150715002686,,,,,...,1,0,1,1963,0,0,0,0,3,0
1,2841697,894677,0240,12/21/2016,818161,20161228000896,,,,,...,0,0,0,2016,0,0,0,0,3,0
2,2860712,408330,4150,03/15/2017,0,20170426000922,,,,,...,1,0,0,1906,0,0,0,0,4,0
3,2813396,510140,4256,07/25/2016,0,20160802000964,,,,,...,0,0,0,1949,0,0,0,0,3,0
4,2899303,126320,0110,10/30/2017,375000,,,,,,...,0,1,0,1919,0,0,0,0,3,0

In [7]:
sales_resb_df.info

<bound method DataFrame.info of        ExciseTaxNbr   Major Minor DocumentDate SalePrice    RecordingNbr  \
0           2743355  638580  0110   07/14/2015    190000  20150715002686
1           2841697  894677  0240   12/21/2016    818161  20161228000896
2           2860712  408330  4150   03/15/2017         0  20170426000922
3           2813396  510140  4256   07/25/2016         0  20160802000964
4           2899303  126320  0110   10/30/2017    375000
...             ...     ...   ...          ...       ...             ...
251295      2935450  219331  0270   06/07/2018    850000  20180612000762
251296      2942886  886030  0550   07/16/2016    900000  20180720000629
251297      2845806  769791  0030   07/16/2016    133000  20170125000407
251298      2971374  924600  0650   01/02/2019         0
251299      2728428  678120  0047   04/23/2015    399950  20150505001366

       Volume Page PlatNbr PlatType  ... FpMultiStory FpFreestanding  \
0                                    ...            1              0
1                                    ...            0              0
2                                    ...            1              0
3                                    ...            0              0
4                                    ...            0              1
...       ...  ...     ...      ...  ...          ...            ...
251295                               ...            1              0
251296                               ...            1              0
251297                               ...            1              0
251298                               ...            0              0
251299                               ...            0              0

       FpAdditional YrBuilt YrRenovated PcntComplete Obsolescence  \
0                 1    1963           0            0            0
1                 0    2016           0            0            0
2                 0    1906           0            0            0
3                 0    1949           0            0            0
4                 0    1919           0            0            0
...             ...     ...         ...          ...          ...
251295            0    1984           0            0            0
251296            1    1975           0            0            0
251297            0    1990           0            0            0
251298            0    2015           0            0            0
251299            0    2015           0            0            0

       PcntNetCondition Condition AddnlCost
0                     0         3         0
1                     0         3         0
2                     0         4         0
3                     0         3         0
4                     0         3         0
...                 ...       ...       ...
251295                0         3         0
251296                0         3         0
251297                0         3         0
251298                0         3         0
251299                0         3         0

[251300 rows x 156 columns]>

In [8]:
sales_resb_df.describe()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
count,251300,251300,251300,251300,251300,251300,251300,251300,251300,251300,...,251300,251300,251300,251300,251300,251300,251300,251300,251300,251300
unique,243287,11239,5720,1979,21803,225202,1,1,1,1,...,6,4,6,122,91,86,68,24,5,356
top,3014061,276760,0020,09/25/2015,0,,,,,,...,0,0,0,2018,0,0,0,0,3,0
freq,62,1236,4317,340,77664,18638,251300,251300,251300,251300,...,183368,235002,208740,7615,238810,248710,249294,251161,162082,223304

In [9]:
sales_resb_df.columns

Index(['ExciseTaxNbr', 'Major', 'Minor', 'DocumentDate', 'SalePrice',
       'RecordingNbr', 'Volume', 'Page', 'PlatNbr', 'PlatType',
       ...
       'FpMultiStory', 'FpFreestanding', 'FpAdditional', 'YrBuilt',
       'YrRenovated', 'PcntComplete', 'Obsolescence', 'PcntNetCondition',
       'Condition', 'AddnlCost'],
      dtype='object', length=156)

In [10]:
sales_resb_df.loc[:, sales_resb_df.columns.duplicated()]

         Major Minor         PlatLot PlatBlock   Major Minor
0       638580  0110  11                        638580  0110
1       894677  0240  24                        894677  0240
2       408330  4150  9                42       408330  4150
3       510140  4256  6        AC 3    56       510140  4256
4       126320  0110  22               1        126320  0110
...        ...   ...             ...       ...     ...   ...
251295  219331  0270  27                        219331  0270
251296  886030  0550  55                        886030  0550
251297  769791  0030  3                         769791  0030
251298  924600  0650  65                        924600  0650
251299  678120  0047  2                2        678120  0047

[251300 rows x 6 columns]

In [11]:
sales_resb_df = sales_resb_df.loc[:,~sales_resb_df.columns.duplicated()]
sales_resb_df.loc[:, sales_resb_df.columns.duplicated()]
sales_resb_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,2743355,638580,0110,07/14/2015,190000,20150715002686,,,,,...,1,0,1,1963,0,0,0,0,3,0
1,2841697,894677,0240,12/21/2016,818161,20161228000896,,,,,...,0,0,0,2016,0,0,0,0,3,0
2,2860712,408330,4150,03/15/2017,0,20170426000922,,,,,...,1,0,0,1906,0,0,0,0,4,0
3,2813396,510140,4256,07/25/2016,0,20160802000964,,,,,...,0,0,0,1949,0,0,0,0,3,0
4,2899303,126320,0110,10/30/2017,375000,,,,,,...,0,1,0,1919,0,0,0,0,3,0

In [12]:
sales_resb_df.shape

(251300, 150)

In [13]:
cleaning_function(sales_resb_df)

['Volume',
 'Page',
 'PlatNbr',
 'PlatType',
 'PlatLot',
 'PlatBlock',
 'PropType',
 'SpecArea',
 'SpecSubArea',
 'Unbuildable',
 'CoalMineHazard',
 'CriticalDrainage',
 'ErosionHazard',
 'LandfillBuffer',
 'HundredYrFloodPlain',
 'SeismicHazard',
 'LandslideHazard',
 'SteepSlopeHazard',
 'Stream',
 'Wetland',
 'SpeciesOfConcern',
 'SensitiveAreaTract']

In [14]:
sales_resb_df.drop(column_list, axis=1, inplace=True)

/Users/edgarbarron/opt/anaconda3/envs/project/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
sales_resb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251300 entries, 0 to 251299
Columns: 128 entries, ExciseTaxNbr to AddnlCost
dtypes: object(128)
memory usage: 245.4+ MB

In [16]:
sales_resb_df.describe()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,SellerName,BuyerName,PropertyType,PrincipalUse,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
count,251300,251300,251300,251300,251300,251300,251300,251300,251300,251300,...,251300,251300,251300,251300,251300,251300,251300,251300,251300,251300
unique,243287,11239,5720,1979,21803,225202,202761,213817,48,10,...,6,4,6,122,91,86,68,24,5,356
top,3014061,276760,0020,09/25/2015,0,,SSHI LLC ...,MAINVUE WA LLC ...,3,6,...,0,0,0,2018,0,0,0,0,3,0
freq,62,1236,4317,340,77664,18638,840,327,138077,250540,...,183368,235002,208740,7615,238810,248710,249294,251161,162082,223304

In [17]:
sales_resb_df.shape

(251300, 128)

In [18]:
nans(sales_resb_df)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,SellerName,BuyerName,PropertyType,PrincipalUse,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
1,2841697,894677,0240,12/21/2016,818161,20161228000896,QUADRANT CORPORATION ...,KANG JING ...,2,6,...,0,0,0,2016,0,0,0,0,3,0
7,2837936,322303,9088,12/05/2016,133000,20161206001084,ROHAN MELISSA M ...,KING COUNTY -STATE OF WA ...,3,6,...,1,1,0,1918,1980,0,0,0,3,0
20,2723231,912610,0736,01/30/2015,0,20150409000784,CARTUS CORPORATION ...,TAHERI JAVAD ...,3,6,...,0,0,0,2013,0,0,0,0,3,0
24,2799723,162404,9140,05/18/2016,414950,20160601000406,CHARLESTOWN STREET LLC ...,MINCH LESLIE ...,2,6,...,0,0,0,2016,0,0,0,0,3,0
27,2718047,072206,9178,02/06/2015,435000,20150312001901,SMITH TRAVIS+STACI ...,KRIESS JUDITH CATRIN+SOLOMON ANDREW ROY ...,3,6,...,1,0,1,1967,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251283,2901247,095200,5840,11/09/2017,0,20171116001180,BRIARBOX LLC ...,BRIARBOX IV LLC ...,3,6,...,0,0,0,2017,0,0,0,0,3,0
251289,2850555,112304,9161,02/21/2017,440000,20170227001542,MASON JOSEPH JR ...,ANUNTAGUNE TOHN ...,11,6,...,0,0,0,1996,0,0,0,0,3,0
251290,2997920,302300,0320,05/01/2019,0,20190705000539,PEDERSEN LOLITA M ...,PEDERSEN MICHAEL J ...,11,6,...,0,0,0,2011,0,0,0,0,3,6000
251298,2971374,924600,0650,01/02/2019,0,,LAMOURELLE REGINA REI+ALAIN P ...,LAMOURELLE ALAIN P+REGINA REI ...,11,6,...,0,0,0,2015,0,0,0,0,3,0
251299,2728428,678120,0047,04/23/2015,399950,20150505001366,WATERSHED HOLDINGS LLC ...,MATSUMOTO TOM+TRUC N LE ...,1,6,...,0,0,0,2015,0,0,0,0,3,0

In [19]:
sales_resb_df.shape

(251300, 128)

In [20]:
column_list = sales_resb_df.columns.tolist()
column_list

['ExciseTaxNbr',
 'Major',
 'Minor',
 'DocumentDate',
 'SalePrice',
 'RecordingNbr',
 'SellerName',
 'BuyerName',
 'PropertyType',
 'PrincipalUse',
 'SaleInstrument',
 'AFForestLand',
 'AFCurrentUseLand',
 'AFNonProfitUse',
 'AFHistoricProperty',
 'SaleReason',
 'PropertyClass',
 'SaleWarning',
 'Unnamed: 0',
 'PropName',
 'PlatName',
 'Range',
 'Township',
 'Section',
 'QuarterSection',
 'Area',
 'SubArea',
 'DistrictName',
 'LevyCode',
 'CurrentZoning',
 'HBUAsIfVacant',
 'HBUAsImproved',
 'PresentUse',
 'SqFtLot',
 'WaterSystem',
 'SewerSystem',
 'Access',
 'Topography',
 'StreetSurface',
 'RestrictiveSzShape',
 'InadequateParking',
 'PcntUnusable',
 'MtRainier',
 'Olympics',
 'Cascades',
 'Territorial',
 'SeattleSkyline',
 'PugetSound',
 'LakeWashington',
 'LakeSammamish',
 'SmallLakeRiverCreek',
 'OtherView',
 'WfntLocation',
 'WfntFootage',
 'WfntBank',
 'WfntPoorQuality',
 'WfntRestrictedAccess',
 'WfntAccessRights',
 'WfntProximityInfluence',
 'TidelandShoreland',
 'LotDepthFactor',
 'TrafficNoise',
 'AirportNoise',
 'PowerLines',
 'OtherNuisances',
 'NbrBldgSites',
 'Contamination',
 'DNRLease',
 'AdjacentGolfFairway',
 'AdjacentGreenbelt',
 'HistoricSite',
 'CurrentUseDesignation',
 'NativeGrowthProtEsmt',
 'Easements',
 'OtherDesignation',
 'DeedRestrictions',
 'DevelopmentRightsPurch',
 'WaterProblems',
 'TranspConcurrency',
 'OtherProblems',
 'BldgNbr',
 'NbrLivingUnits',
 'Address',
 'BuildingNumber',
 'Fraction',
 'DirectionPrefix',
 'StreetName',
 'StreetType',
 'DirectionSuffix',
 'ZipCode',
 'Stories',
 'BldgGrade',
 'BldgGradeVar',
 'SqFt1stFloor',
 'SqFtHalfFloor',
 'SqFt2ndFloor',
 'SqFtUpperFloor',
 'SqFtUnfinFull',
 'SqFtUnfinHalf',
 'SqFtTotLiving',
 'SqFtTotBasement',
 'SqFtFinBasement',
 'FinBasementGrade',
 'SqFtGarageBasement',
 'SqFtGarageAttached',
 'DaylightBasement',
 'SqFtOpenPorch',
 'SqFtEnclosedPorch',
 'SqFtDeck',
 'HeatSystem',
 'HeatSource',
 'BrickStone',
 'ViewUtilization',
 'Bedrooms',
 'BathHalfCount',
 'Bath3qtrCount',
 'BathFullCount',
 'FpSingleStory',
 'FpMultiStory',
 'FpFreestanding',
 'FpAdditional',
 'YrBuilt',
 'YrRenovated',
 'PcntComplete',
 'Obsolescence',
 'PcntNetCondition',
 'Condition',
 'AddnlCost']

In [21]:
columns_to_remove = ['AddnlCost', 'SellerName', 'BuyerName', 'SaleInstrument', 'SaleReason', 'SaleWarning', 'Unnamed: 0',
                     'PropName', 'PlatName', 'Range', 'MtRainier','Olympics','Cascades','Territorial','SeattleSkyline','PugetSound','LakeWashington',
                     'LakeSammamish','SmallLakeRiverCreek','OtherView','WfntLocation','WfntFootage','WfntBank','WfntPoorQuality','WfntRestrictedAccess',
                     'WfntAccessRights','WfntProximityInfluence','TidelandShoreland','TrafficNoise','AirportNoise','PowerLines','OtherNuisances','NbrBldgSites',
                     'Contamination','DNRLease','OtherDesignation','DeedRestrictions','DevelopmentRightsPurch','WaterProblems','TranspConcurrency','OtherProblems',
                     'BldgNbr','Address','BuildingNumber','Fraction','DirectionPrefix','StreetName','StreetType','DirectionSuffix','Obsolescence',]

In [22]:
sales_resb_df.drop(columns_to_remove, axis=1, inplace=True)

/Users/edgarbarron/opt/anaconda3/envs/project/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [23]:
sales_resb_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,PropertyType,PrincipalUse,AFForestLand,AFCurrentUseLand,...,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,PcntNetCondition,Condition
0,2743355,638580,0110,07/14/2015,190000,20150715002686,3,6,N,N,...,1,0,1,0,1,1963,0,0,0,3
1,2841697,894677,0240,12/21/2016,818161,20161228000896,2,6,N,N,...,2,1,0,0,0,2016,0,0,0,3
2,2860712,408330,4150,03/15/2017,0,20170426000922,3,6,N,N,...,1,0,1,0,0,1906,0,0,0,4
3,2813396,510140,4256,07/25/2016,0,20160802000964,2,6,N,N,...,1,0,0,0,0,1949,0,0,0,3
4,2899303,126320,0110,10/30/2017,375000,,3,6,N,N,...,1,0,0,1,0,1919,0,0,0,3

In [24]:
sales_resb_df.DocumentDate = pd.to_datetime(sales_resb_df['DocumentDate'])

/Users/edgarbarron/opt/anaconda3/envs/project/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [25]:
sales_resb_df = sales_resb_df[sales_resb_df['DocumentDate'] >= '2019-01-01']

In [26]:
sales_resb_df = sales_resb_df[sales_resb_df['DocumentDate'] <= '2019-12-31']

In [27]:
sales_resb_df['SalePrice'] = sales_resb_df['SalePrice'].astype(float)

In [28]:
c_sales_df = sales_resb_df.copy(deep=True)
c_sales_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,PropertyType,PrincipalUse,AFForestLand,AFCurrentUseLand,...,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,PcntNetCondition,Condition
5,3027422,213043,0120,2019-12-20,560000.0,20191226000848,11,6,N,N,...,2,1,0,0,0,1989,0,0,0,3
6,3002257,940652,0630,2019-07-22,435000.0,20190730001339,11,6,N,N,...,1,0,1,0,0,1994,0,0,0,3
12,2993601,140281,0020,2019-06-04,450000.0,20190614000489,3,6,N,N,...,2,1,0,0,0,1986,0,0,0,3
13,3015516,779790,0030,2019-10-07,0.0,20191016000009,11,6,N,N,...,1,0,0,0,0,1924,0,0,0,3
21,3015264,124550,0098,2019-09-27,193000.0,20191015000395,3,6,N,N,...,1,0,1,0,0,1980,0,0,0,3

In [29]:
c_sales_df.shape

(43838, 78)

In [30]:
c_sales_df = c_sales_df[c_sales_df['SalePrice']!=0]

In [31]:
c_sales_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,PropertyType,PrincipalUse,AFForestLand,AFCurrentUseLand,...,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,PcntNetCondition,Condition
5,3027422,213043,0120,2019-12-20,560000.0,20191226000848,11,6,N,N,...,2,1,0,0,0,1989,0,0,0,3
6,3002257,940652,0630,2019-07-22,435000.0,20190730001339,11,6,N,N,...,1,0,1,0,0,1994,0,0,0,3
12,2993601,140281,0020,2019-06-04,450000.0,20190614000489,3,6,N,N,...,2,1,0,0,0,1986,0,0,0,3
21,3015264,124550,0098,2019-09-27,193000.0,20191015000395,3,6,N,N,...,1,0,1,0,0,1980,0,0,0,3
22,2980648,797320,2320,2019-03-27,540000.0,,3,6,N,N,...,1,1,0,0,0,1930,0,0,0,5

In [32]:
cols = list(c_sales_df.columns)
cols

['ExciseTaxNbr',
 'Major',
 'Minor',
 'DocumentDate',
 'SalePrice',
 'RecordingNbr',
 'PropertyType',
 'PrincipalUse',
 'AFForestLand',
 'AFCurrentUseLand',
 'AFNonProfitUse',
 'AFHistoricProperty',
 'PropertyClass',
 'Township',
 'Section',
 'QuarterSection',
 'Area',
 'SubArea',
 'DistrictName',
 'LevyCode',
 'CurrentZoning',
 'HBUAsIfVacant',
 'HBUAsImproved',
 'PresentUse',
 'SqFtLot',
 'WaterSystem',
 'SewerSystem',
 'Access',
 'Topography',
 'StreetSurface',
 'RestrictiveSzShape',
 'InadequateParking',
 'PcntUnusable',
 'LotDepthFactor',
 'AdjacentGolfFairway',
 'AdjacentGreenbelt',
 'HistoricSite',
 'CurrentUseDesignation',
 'NativeGrowthProtEsmt',
 'Easements',
 'NbrLivingUnits',
 'ZipCode',
 'Stories',
 'BldgGrade',
 'BldgGradeVar',
 'SqFt1stFloor',
 'SqFtHalfFloor',
 'SqFt2ndFloor',
 'SqFtUpperFloor',
 'SqFtUnfinFull',
 'SqFtUnfinHalf',
 'SqFtTotLiving',
 'SqFtTotBasement',
 'SqFtFinBasement',
 'FinBasementGrade',
 'SqFtGarageBasement',
 'SqFtGarageAttached',
 'DaylightBasement',
 'SqFtOpenPorch',
 'SqFtEnclosedPorch',
 'SqFtDeck',
 'HeatSystem',
 'HeatSource',
 'BrickStone',
 'ViewUtilization',
 'Bedrooms',
 'BathHalfCount',
 'Bath3qtrCount',
 'BathFullCount',
 'FpSingleStory',
 'FpMultiStory',
 'FpFreestanding',
 'FpAdditional',
 'YrBuilt',
 'YrRenovated',
 'PcntComplete',
 'PcntNetCondition',
 'Condition']

In [33]:
cols = [cols[3]] + cols[:3] + cols[4:]
c_sales_df = c_sales_df[cols]

In [34]:
cleaned_df = c_sales_df.to_csv('../../data/processed/clean_merged_data.csv',index=False)